<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Title</title>

    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="/css/fonts.css" type="text/css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</head>
<body>
{% include "template_menu.html" %}
<div class="container">
    <div class="mb-40px">
        <h3>Управление списком проектов</h3>
        <p>
            Данное web-приложение реализует функционал управления списком проектов.
            На страницах присутствуют таблицы в которых имеются возможности сортировки, редактирования, добавления, удаления записей. Для того чтобы отредактировать запись, необходимо кликнуть на текстовое описание поля, ввести изменения и нажать enter, либо просто увести фокус с выбранного поля. После увода фокуса или нажатия Enter происходит сохранение данных через Ajax. Для чтобы удалить запись, необходимо нажать на иконку "крестика" напротив соответствующей записи. Для того чтобы добавить новую запись необходимо воспользоваться формой добавления. Данные добавляются при нажатии на enter, либо по нажатию на кнопку добавления (иконка "плюс"). Так же можно воспользоваться возможностью сортировки (кнопки: со стрелочкой вверх - по возрастанию, вниз - по убыванию).
        </p>
    </div>
</div>
</body>
</html>