<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Title</title>

    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="/css/fonts.css" type="text/css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</head>
<body>
{% include "template_menu.html" %}
<div class="container">
    <div class="mb-40px">
        <h3>Ошибка</h3>
        <div>
            <img src="/img/404.png">
        </div>
    </div>
</div>
</body>
</html>