<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Title</title>

    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="/css/fonts.css" type="text/css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</head>
<body>
{% include "template_menu.html" %}
<div class="container">
    <div class="mb-40px">
        <h3>Проекты</h3>
        <p>В данном разделе находится таблица проектов.
            Имеется возможность сортировки, редактирования, добавления, удаления записей.
            Для того чтобы отредактировать запись, необходимо кликнуть на текстовое описание поля, ввести изменения и нажать enter, либо просто увести фокус с выбранного поля. После увода фокуса или нажатия Enter происходит сохранение данных через Ajax.
            Для чтобы удалить запись, необходимо нажать на иконку "крестика" напротив соответствующей записи.
            Для того чтобы добавить новую запись необходимо воспользоваться формой добавления. Данные добавляются при нажатии на enter, либо по нажатию на кнопку добавления (иконка "плюс").
            Так же можно воспользоваться возможностью сортировки (кнопки: со стрелочкой вверх - по возрастанию, вниз - по убыванию).
        </p>
    </div>
    <div class="js-records records">
        <div class="row my-1">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 left">
                <div class="sort">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="js-sort-up-numb" title="по возрастанию">id</a></li>
                            <li><a href="#" class="js-sort-up-projects" title="по возрастанию">name</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="js-sort-down-numb" title="по убыванию">id</a></li>
                            <li><a href="#" class="js-sort-down-projects" title="по убыванию">name</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <form class="js-form-add input-group">
                    <input class="js-txt-add form-control" placeholder="Введите текст">
                    <div class="input-group-btn">
                        <button class="btn btn-default js-btn-add">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="js-tbl tbl">
            <div class="tbl__head">
                <div class="tbl__cell ">
                    id
                </div>
                <div class="tbl__cell ">
                    name
                </div>
                <div class="tbl__cell ">
                    delete
                </div>
            </div>
            <div class="js-tbl_body tbl_body">
                {% for record in data %}
                    <div class="js-tbl__line tbl__line">
                        <div class="tbl__cell">
                            <div class="d-inline-block hidden-lg hidden-md">
                                <b>id_</b>
                            </div>{{record.project_id}}
                        </div>
                        <div class="tbl__cell ">
                            <form class="js-form-update" method="post">
                                <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                    <b>name:</b>
                                </div>
                                <input type="hidden" name="updateid" value="{{record.project_id}}">
                                <input class="js-form-edit form-edit" name="updatetxt" value="{{record.project_name}}">
                            </form>
                        </div>
                        <div class="tbl__cell">
                            <form class="js-form-remove" method="post">
                                <input type="hidden" name="remove" value="{{record.project_id}}">
                                <button class="js-btn-remove btn-remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>