<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="на главную">V 1.0.0</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Главная</a></li>
                <li><a href="/workers">Сотрудники</a></li>
                <li ><a href="/projects">Проекты</a></li>
                <li><a href="/roles">Роли</a></li>
                <li><a href="/pw">Список</a></li>
                <li><a href="/mongo">Mongo</a></li>
            </ul>
        </div>
    </div>
</div>