<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Title</title>

    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="/css/fonts.css" type="text/css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</head>
<body>
{% include "template_menu.html" %}
<div class="container">
    <div class="mb-40px">
        <h3>Сотрудники-Проекты</h3>
        <p>В данном разделе находится таблица сотрудников и проектов в которых они принимают участие.
            Имеется возможность сортировки, редактирования, добавления, удаления записей.
            Для того чтобы отредактировать запись, необходимо кликнуть на текстовое описание поля, ввести изменения и нажать enter, либо просто увести фокус с выбранного поля. После увода фокуса или нажатия Enter происходит сохранение данных через Ajax.
            Для чтобы удалить запись, необходимо нажать на иконку "крестика" напротив соответствующей записи.
            Для того чтобы добавить новую запись необходимо воспользоваться формой добавления. Данные добавляются при нажатии на enter, либо по нажатию на кнопку добавления (иконка "плюс").
            Так же можно воспользоваться возможностью сортировки (кнопки: со стрелочкой вверх - по возрастанию, вниз - по убыванию).
        </p>
    </div>
    <div class="js-records records">
        <div class="row my-1">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="sort">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="js-sort-up-id-pw" title="по возрастанию">id проекта</a></li>
                            <li><a href="#" class="js-sort-up-projects-pw" title="по возрастанию">Проекты</a></li>
                            <li><a href="#" class="js-sort-up-workers-pw" title="по возрастанию">Сотрудники</a></li>
                            <li><a href="#" class="js-sort-up-roles-pw" title="по возрастанию">Роли</a></li>
                            <li><a href="#" class="js-sort-up-date-begin-pw" title="по возрастанию">Дата начала</a></li>
                            <li><a href="#" class="js-sort-up-date-end-pw" title="по возрастанию">Дата окончания</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="js-sort-down-id-pw" title="по убыванию">id проекта</a></li>
                            <li><a href="#" class="js-sort-down-projects-pw" title="по убыванию">Проекты</a></li>
                            <li><a href="#" class="js-sort-down-workers-pw" title="по убыванию">Сотрудники</a></li>
                            <li><a href="#" class="js-sort-down-roles-pw" title="по убыванию">Роли</a></li>
                            <li><a href="#" class="js-sort-down-date-begin-pw" title="по убыванию">Дата начала</a></li>
                            <li><a href="#" class="js-sort-down-date-end-pw" title="по убыванию">Дата окончания</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <form class="js-form-add-new" method="post">
                    <div class="tbl">
                        <div class="tbl_body">
                            <div class="tbl__line">
                                <div class="tbl__cell-2 hidden-lg hidden-md">
                                    <div class="d-inline-block px-5px py-sm__5px hidden-lg hidden-md">
                                        <b>Новая запись</b>
                                    </div>
                                </div>
                                <div class="tbl__cell-2 px-5px py-sm__5px">
                                    <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                        <b>Проекты:</b>
                                    </div>
                                    <select class="js-select-new-project form-control" name="idproject">
                                        {% for record in data.projects %}
                                            <option value="{{record.project_id}}">{{record.project_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="tbl__cell-2 px-5px py-sm__5px">
                                    <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                        <b>Сотрудники:</b>
                                    </div>
                                    <select class="js-select-new-worker form-control" name="idworker">
                                        {% for record in data.workers %}
                                            <option value="{{record.worker_id}}">{{record.worker_lastname}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="tbl__cell-2 px-5px py-sm__5px">
                                    <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                        <b>Роли:</b>
                                    </div>
                                    <select class="js-select-new-role form-control" name="idrole">
                                        {% for record in data.roles %}
                                            <option value="{{record.role_id}}">{{record.role_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="tbl__cell-2 px-5px py-sm__5px">
                                    <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                        <b>Дата начала:</b>
                                    </div>
                                    <input type="date" name="dtbegin" class="js-select-new-dtbegin form-control" value="2018-02-15">
                                </div>
                                <div class="tbl__cell-2 px-5px py-sm__5px">
                                    <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                        <b>Дата окончания:</b>
                                    </div>
                                    <input type="date" name="dtend" class="js-select-new-dtend form-control" value="2018-02-15">
                                </div>
                                <div class="tbl__cell-2 px-sm__5px p-sm">
                                    <button class="btn btn-default js-btn-add-new w-100">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="js-err err my-1">
            Прежде чем отправлять данную форму, пожалуйста, заполните таблицы: сотрудники, проекты, роли.
        </div>
        <div class="js-tbl tbl">
            <div class="tbl__head">
                <div class="tbl__cell ">
                    id
                </div>
                <div class="tbl__cell ">
                    Проекты
                </div>
                <div class="tbl__cell ">
                    Сотрудники
                </div>
                <div class="tbl__cell ">
                    Роли
                </div>
                <div class="tbl__cell ">
                    Дата начала
                </div>
                <div class="tbl__cell ">
                    Дата окончания
                </div>
                <div class="tbl__cell ">
                </div>
            </div>
            <div class="js-tbl_body tbl_body">
                {% for records in data.projects_workers %}
                    <div class="js-tbl__line tbl__line">
                        <div class="tbl__cell">
                            <div class="d-inline-block hidden-lg hidden-md">
                                <b>id_</b>
                            </div>{{records.ep_id}}
                        </div>
                        <div class="tbl__cell">
                            <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                <b>Проекты:</b>
                            </div>
                            <form class="js-form-sel-projects">
                                <input type="hidden" name="idrecord" value="{{records.ep_id}}">
                                <select class="js-select-projects form-control">
                                    {% for project in data.projects %}
                                        <option value="{{project.project_id}}" {% if records.project_id==project.project_id %}selected{% endif %}>
                                            {{project.project_name}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="tbl__cell">
                            <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                <b>Сотрудники:</b>
                            </div>
                            <form class="js-form-sel-workers">
                                <input type="hidden" name="idrecord" value="{{records.ep_id}}">
                                <select class="js-select-workers form-control">
                                    {% for worker in data.workers %}
                                        <option value="{{worker.worker_id}}" {% if records.worker_id==worker.worker_id %}selected{% endif %}>
                                            {{worker.worker_lastname}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="tbl__cell">
                            <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                <b>Роли:</b>
                            </div>
                            <form class="js-form-sel-roles">
                                <input type="hidden" name="idrecord" value="{{records.ep_id}}">
                                <select class="js-select-roles form-control">
                                    {% for role in data.roles %}
                                        <option value="{{role.role_id}}" {% if records.role_id==role.role_id %}selected{% endif %}>
                                            {{role.role_name}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="tbl__cell">
                            <div class="b-label d-inline-block hidden-lg hidden-md mb-5px"><b>Дата начала:</b></div>
                            <form class="js-form-dtbegin" method="post">
                                <input type="hidden" name="idrecord" value="{{records.ep_id}}">
                                <input type="date" class="js-dt-begin form-control" value="{{records.dt_begin}}">
                            </form>
                        </div>
                        <div class="tbl__cell">
                            <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                <b>Дата окончания:</b>
                            </div>
                            <form class="js-form-dtend" method="post">
                                <input type="hidden" name="idrecord" value="{{records.ep_id}}">
                                <input type="date" class="js-dt-end form-control" value="{{records.dt_end}}">
                            </form>
                        </div>
                        <div class="tbl__cell">
                            <form class="js-form-remove" method="post">
                                <input type="hidden" name="remove" value="{{records.ep_id}}">
                                <button class="js-btn-remove btn-remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>